.Details {
  white-space: nowrap;
  overflow: scroll;
}

.Details .game-date {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.Details .game-location-name {
  font-size: 20px;  
  font-weight: 300;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Details .game-location-address {
  color: #3780D5;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
