.Schedule .game-details-wrapper {
  width: 80%;
}

.Schedule .game-details-wrapper .line-divider {
  width: 100%;
}

.Schedule .game-details {
  text-align: left;
  font-size: 16px;
}

.Schedule .game-date {
  font-weight: 400;
}

.Schedule .game-location-name {
  font-weight: 600;
}

.Schedule .game-location-address {
  font-weight: 300;
}

.Schedule .container .Schedule div.line-divider {
  margin: 30px 0;
}
