.Home {
  display: grid;
}

.Home .content {
  justify-self: center;
  background: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 15px;
  width: 90%;
  height: 49vh;
}

.Home .next-game-details-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.Home .schedule-nav {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Home .schedule-nav.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
