.Home .next-game-details-wrapper {
  display: grid;
  width: 100%;
  justify-items: center;
}

.Home .schedule-nav {
  margin-top: 200px;
}

.Home .schedule-nav.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.Home #prev-game-nav {
  padding-left: 15px;
}

.Home #next-game-nav {
  padding-right: 10px;
}