.App {
  font-family: 'Open Sans', sans-serif;
}

.App .content {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 26px;
  padding-bottom: 80px;
  width: 100%;
}

.App .line-divider {
  height: 2px;
  width: 90%;
  background: linear-gradient(165.61deg, #44E4E2 0%, #8225BA 100%);
  margin: 20px 0;
}
