.App {
  /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px auto; */
  font-family: 'Open Sans', sans-serif;
}

.App .content-wrapper {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
  justify-items: center;
  margin-top: 26px;
  margin-bottom: 26px;

  /* Makes container scrollable */
  padding-bottom: 80px;
}

.App .content {
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 90%;
}

.App .content .line-divider {
  height: 2px;
  width: 90%;
  background: linear-gradient(165.61deg, #44E4E2 0%, #8225BA 100%);
  margin: 20px 0;
}
