.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 100px auto;
  font-family: 'Open Sans', sans-serif;
}

.App-navigation {
  display: grid;
  grid-template-columns: 40% 60%; 
  background-color: #fff;
  width: auto;
}

.App-navigation .nav-items {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.App-navigation button {
  background: none;
  border: 0;
}

.App-navigation button:focus {
  outline: 0;
}

.App-navigation .nav-items .nav-text {
  color: #4A4A4A;
  font-size: 13px;
  text-transform: uppercase;
}

.App-navigation .nav-items .tab-icon {
  width: 18px;
  height: 18px;
  position: relative;
  top: 4px;
  right: 4px;
}

.App-logo {
  height: 43px;
  width: 131px;
  color: #000;
  margin-left: 13px;
  margin-bottom: 9px;
  margin-top: 8px;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}

.App-header {
  display: grid;
  align-items: center;
  justify-content: center;
  background: linear-gradient(165.61deg, #44E4E2 0%, #8225BA 100%);
}

.header-title {
  color: #fff;
  font-size: 32px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
}

.App .container {
  display: grid;
  justify-items: center;
  margin: 26px auto 0 auto;
}

.line-divider {
  height: 3px;
  width: 366px;
  background: linear-gradient(165.61deg, #44E4E2 0%, #8225BA 100%);
}
